<button md-fab [mdMenuTriggerFor]="menu">
  <md-icon>add</md-icon>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="selectType('text')">
        <md-icon>comment</md-icon>
        <span>Text</span>
      </button>
      <button md-menu-item (click)="selectType('button')">
        <md-icon>lens</md-icon>
        <span>Button</span>
        <button md-menu-item disabled (click)="selectType('picture')">
          <md-icon>crop original</md-icon>
          <span>Picture</span>
        </button>
        <button md-menu-item disabled (click)="selectType('delete')">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </button>
    </md-menu>
</button>
