<table align="center" class="container header float-center">
  <tbody>
    <tr>
      <td>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="15px" style="font-size:15px;line-height:15px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
        <table align="center" class="container">
          <tbody>
            <tr>
              <td>
                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th><a href="{{website_url}}"><img height="25" src="cid:{{website_logo_url}}" width="95"></a></th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="15px" style="font-size:15px;line-height:15px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
