<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>
<md-card *ngFor="let builder of builders; let i = index">
  <span class="addToTop" (click)="createNewBuilder(i)">Top</span>
  <app-builder myDraggable dragTarget
    [text]="builder.text"
    ></app-builder>
    <span class="addToBottom" (click)="createNewBuilder(i+1)">Bottom</span>

</md-card>
<pre>{{builders | json}}</pre>
<md-card> show on hover / add new appbuilder on drop</md-card>
