<table align="center" class="container border-bottom transparent-bg float-center">
  <tbody>
    <tr>
      <td>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="15px" style="font-size:15px;line-height:15px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <p class="small light-color text-center">
                        <a class="light-color" href="mailto:{{email_to}}">
                          {{email_text}}
                        </a>
                        <a class="light-color" href="{{online_version_url}}">
                          {{online_text}}
                        </a>
                      </p>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="15px" style="font-size:15px;line-height:15px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
